// COLOR
$cl-dark: #282A35;
$cl-dark-hover: #000000;
$cl-light: #fff;
$cl-primary: #04AA6D;
$cl-primary-hover: #059862;
$cl-secondary: #ffc0c7;
$cl-gray: #e7e9eb;
$cl-gray-hover: #cccccc;

$cl-success: #1db231;
$cl-info: #4bb1cf;
$cl-warning: #ffba00;
$cl-error: #ED4F32;




// FONT
$ff-document: "Segoe UI",Arial,sans-serif;
$ff-others: "Source Sans Pro", sans-serif;

// $large-fw: ;
// $medium-fw: ;
// $small-fw: ;

// SIZE
$mobile-width: 640px;
$tablet-width: 1007px;

$header-height: 60px;